In [2]:
#List of high schools
high_schools = ["Hernandez High School", "Figuerora High School", "Wilson High School", "Wright High School"]

#to print out the list of schools in vertical position:
#loop through each school 
for school in high_schools:
    print (school)

Hernandez High School
Figuerora High School
Wilson High School
Wright High School

In [16]:
#A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]
#Print out the list of dictionaires and print out each high school and their types
#Need help: go over with Limei
#for name, category in high_school_types.values():
   # print({name}, {category})

In [20]:
#List of high schools
high_schools = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

#Add the Pandas dependency.
import pandas as pd 

#Create a Pandas series from a list
school_series = pd.Series(high_schools)
school_series

#Print out a specific indext out of the panda Series
#print(school_series[1])

Figueroa High School

In [21]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [40]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

##initialize a new DataFrame
schools_df = pd.DataFrame()

##Add the list to a new DataFrame
schools_df["School ID"] = school_id
schools_df["School Name"] = school_name
schools_df["Type"] = type_of_school

#print the DataFrame, don't need to type print to print the variable out 
schools_df

## Skill_Drill: Create a dictionary of information on high schools.
#high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}
##Converting the dict to a df:
##need more help on this
#high_schools_df = pd.DataFrame(data=high_schools_dict)
#high_schools_df("high_schools_dict")

##columns attribute
#schools_df.columns

##Index attribute 
#schools_df.index

##Values attribute
#schools_df.values

In [10]:
##Object Oriented Programming
class Cat:
    def __init__(self, name):
        self.name = name
        #self.name = self

In [11]:
first_cat = Cat('Felix')
print(first_cat.name)

Felix

In [4]:
second_cat = Cat('Garfield')
print(second_cat.name)

Garfield

In [13]:
class Dog:
    def __init__(self, name, color, sound):
        self.name = name
        self.color = color
        self.sound = sound

    def bark(self):
        return self.sound + ' ' + self.sound

In [14]:
first_dog = Dog('Fido', 'brown', 'woof!')
print(    first_dog.name)
print(first_dog.color)
first_dog.bark()

Fido
brown

'woof! woof!'

In [15]:
second_dog = Dog('Lady', 'blonde', 'arf!')
second_dog.bark()

'arf! arf!'