In [1]:
#Add the pandas dependency
import pandas as pd 


##Indirect path: 
##Add the dependencies:
#import pandas as pd 
#import os 

##Files to load 
#school_data_to_load = os.path.join("Resources", "schools_complete.csv")
#student_data_to_load = os.path.join("Resources", "students_complete.csv")

In [2]:
#Files to load:can do this either the direct or indirect path with os.path.join()
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [3]:
# Read the school data file and store it in a Pandas DataFrame.
#the pd.read_csv() allows us to create ad df without having to use pd.DataFram()
school_data_df = pd.read_csv(school_data_to_load)
#school_data_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [ ]:
# Determine if there are any missing values in the school data. No missing rows
#school_data_df.count()

In [ ]:
# Determine if there are any missing values in the school data.
#school_data_df.isnull()

In [ ]:
# Determine if there are not any missing values in the school data.
school_data_df.notnull()

In [ ]:
#using the notnull() and sum()
school_data_df.notnull().sum()

In [ ]:
# Determine data types for the school DataFrame.
school_data_df.dtypes

In [ ]:
# Read the student data file and store it in a Pandas DataFrame.
student_data_df = pd.read_csv(student_data_to_load)
student_data_df.head()

In [ ]:
# Determine if there are any missing values in the student data. No missing rows
student_data_df.count()

In [ ]:
# Determine if there are any missing values in the student data.
student_data_df.isnull()

In [ ]:
# Determine if there are any missing values in the student data.
#this method is more straightforward as you see the number o instead of a long list of "false"
student_data_df.isnull().sum()

In [ ]:
# Determine if there are not any missing values in the student data.
student_data_df.notnull().sum()

In [ ]:
# Determine data types for the student DataFrame.
student_data_df.dtypes

In [ ]:
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

# Iterate through the words in the "prefixes_suffixes" list and 
#replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")
#####Ask Limei
student_data_df.head()

In [ ]:
#Combine the data into a single dataset.
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete_df.head()

In [ ]:
# Get the total number of students.
student_count = school_data_complete_df["Student ID"].count()
student_count

In [ ]:
#Calculate the total number of schools.
school_count = school_data_df["school_name"].count()
school_count

In [ ]:
#Calculate the total number of schools with school_data_complete_df and the unique() function
school_count_2 = school_data_complete_df["school_name"].unique()
school_count_2

In [ ]:
school_count_3 = len(school_data_complete_df["school_name"].unique())
school_count_3

In [ ]:
# Calculate the total budget.
total_budget = school_data_df["budget"].sum()
total_budget

In [ ]:
# Calculate the average reading score. 
##new variable = the df reference["name of colunm"].function()
average_reading_score = school_data_complete_df["reading_score"].mean()
average_reading_score

In [ ]:
# Calculate the average math score
average_math_score = school_data_complete_df["math_score"].mean()
average_math_score

In [ ]:
# Determine passing score math; passing >=70
passing_math = school_data_complete_df["math_score"] >= 70
passing_math

In [ ]:
# Determine passing score reading; passing >=70
passing_reading = school_data_complete_df["reading_score"] >= 70
passing_reading

In [ ]:
# Get all the students who are passing math in a new DataFrame.
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
passing_math.head()

In [ ]:
#Get the number of students who passed math
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >=70]
passing_math["student_name"].count()
passing_math_count = passing_math["student_name"].count()
print(passing_math_count)

In [ ]:
# Calculate the percent that passed math.
# Student_count myst be changed to a float since we are calculating the percentage 
passing_math_percentage = float(passing_math_count) / float(student_count) * 100
print(passing_math_percentage)

In [ ]:
# Get all the students that are passing reading in a new DataFrame.
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]
passing_reading.head()

In [ ]:
#Get the number of students who passed reading
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >=70]
passing_reading["student_name"].count()
passing_reading_count = passing_reading["student_name"].count()
print(passing_reading_count)

In [ ]:
# Calculate the percent that passed reading.
passing_reading_percentage = float(passing_reading_count) / float(student_count) * 100
passing_reading_percentage

In [ ]:
print(5/3)

In [ ]:
print(float(5)/float(3))

In [ ]:
print(int(5)/int(3))

In [ ]:
passing_reading_percentage = passing_reading_count / student_count * 100
passing_reading_percentage

In [ ]:
# Calculate the students who passed both math and reading.
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

passing_math_reading.head()

In [ ]:
#get the total number of students who passed both math & reading
#again define a new variable, then the reference and function
# Calculate the number of students who passed both math and reading.
overall_passing_math_reading_count = passing_math_reading["student_name"].count()
overall_passing_math_reading_count

In [ ]:
# Calculate the overall passing percentage.
overall_passing_percentage = overall_passing_math_reading_count / student_count * 100
overall_passing_percentage

In [ ]:
# Adding a list of values with keys to create a new DataFrame. Set each key to the column we are creating, the values to the metrics we calculated
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count,
          "Total Students": student_count,
          "Total Budget": total_budget,
          "Average Math Score": average_math_score,
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])
district_summary_df

In [ ]:
# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

district_summary_df["Total Students"]

In [ ]:
# Format "Total Budget" to have the comma for a thousands separator, a decimal separator, and a "$".

district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

district_summary_df["Total Budget"]

In [ ]:
# Format "Average Reading Score" to have one decimal place 

district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:,.1f}".format)

district_summary_df["Average Reading Score"]

In [ ]:
# Format "Average Math Score" to have one decimal place

district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:,.1f}".format)

district_summary_df["Average Math Score"]

In [ ]:
# Format "% Passing Reading" to nearest whole number percentage.

district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:,.0f}".format)

district_summary_df["% Passing Reading"]

In [ ]:
# Format "% Passing Math" to nearest whole number percentage.

district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:,.0f}".format)

district_summary_df["% Passing Math"]

In [ ]:
# Format "% Overall Passing" to nearest whole number percentage.

district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:,.0f}".format)

district_summary_df["% Overall Passing"]

In [ ]:
district_summary_df

In [ ]:
# Reorder the columns in the order you want them to appear.
new_column_order = ["Total Schools", "Total Students", "Total Budget","Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

# Assign district summary df the new column order.
district_summary_df = district_summary_df[new_column_order]
district_summary_df

In [ ]:
# Determine the school type.
## school_data_df has 2 columns school_name and type: both as columns
## we are creating an index by using the .set_index method 
## we are setting the index to school_name and the first column is type 
per_school_types = school_data_df.set_index(["school_name"])["type"]
per_school_types

## the output is a Series with the index as school_name and a column with the type of school

In [ ]:
# Add the per_school_types into a DataFrame for testing.
## changing the Series to a DataFrame will give it the column picture
df = pd.DataFrame(per_school_types)
df

In [ ]:
df_new = df.rename(columns= {'type': 'School Type'})
print(df_new)

In [ ]:
# Calculate the total student count.
##size holds the student count in the school_data_df
per_school_counts = school_data_df["size"]
per_school_counts

## this series does not have an index with "school_name"
## to fix this; use the set_index()

In [ ]:
# Calculate the total student count.

##in order to fix the issue with school_name not being the index use the set_index(): school_name is still the index 
##and size column to display the student count for each school
per_school_counts = school_data_df.set_index(["school_name"])["size"]
per_school_counts

In [ ]:
## School_data_complete_df does not show the number of times a high school appears. 
## to get this number use the value_counts() on the "school_name" column 
## value_counts() will return a series of data with the number of times each school appears in a row

# Calculate the total student count.
per_school_counts = school_data_complete_df["school_name"].value_counts()
per_school_counts

In [ ]:
# Calculate the total school budget.
## using the school_data_df.set_index will help us set school_name as the index
## then pulls the "budget" next to the school_name 
per_school_budget = school_data_df.set_index(["school_name"])["budget"]
per_school_budget

In [ ]:
# Calculate the per capita spending.
per_school_capita = per_school_budget / per_school_counts
per_school_capita

In [ ]:
# Calculate the math scores.
student_school_math = student_data_df.set_index(["school_name"])["math_score"]
student_school_math

## can't use this method on school_data_df b/c it doesnt contain grades.
## using the .set_index() on student_data_df gives us too many occurences

In [ ]:
# Calculate the average math scores.
## using the groupby() will splt the objects (like a DF) apply a mathematical operation (mean) 
##and combine the results.

per_school_averages = school_data_complete_df.groupby(["school_name"]).mean()
per_school_averages

In [ ]:
# Calculate the average test scores for each school
per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
per_school_math

In [ ]:
per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]
per_school_reading

In [ ]:
# Calculate the passing scores by creating a filtered DataFrame.
## reused the code for passing_math but assigned it to a new variable
## this code calculates the students who passed math and reading 
per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]
per_school_passing_math

In [ ]:
# Calculate the number of students passing math and passing reading by school.
## this will get the number of students who passed using the count()
## the previous cell listed them out and we needed a count
per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]
per_school_passing_math

In [ ]:
per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]
per_school_passing_reading

In [ ]:
per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]
per_school_passing_reading

In [ ]:
# Calculate the percentage of passing math and reading scores per school.
per_school_passing_math = per_school_passing_math / per_school_counts * 100
per_school_passing_math

In [ ]:
per_school_passing_reading = per_school_passing_reading / per_school_counts * 100
per_school_passing_reading

In [ ]:
# Calculate the students who passed both math and reading.
per_passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

per_passing_math_reading.head()

In [ ]:
# Calculate the number of students who passed both math and reading.
per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]

# Calculate the overall passing percentage.
per_overall_passing_percentage = per_passing_math_reading / per_school_counts * 100

per_overall_passing_percentage

In [ ]:
# Adding a list of values with keys to create a new DataFrame.
## in red is the column name after the : would be the variables we created to obtain each data 

per_school_summary_df = pd.DataFrame({
             "School Type": per_school_types,
             "Total Students": per_school_counts,
             "Total School Budget": per_school_budget,
             "Per Student Budget": per_school_capita,
             "Average Math Score": per_school_math,
           "Average Reading Score": per_school_reading,
           "% Passing Math": per_school_passing_math,
           "% Passing Reading": per_school_passing_reading,
           "% Overall Passing": per_overall_passing_percentage})
per_school_summary_df.head()

In [ ]:
# Format the Total School Budget and the Per Student Budget columns.
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)

per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)


# Display the data frame
per_school_summary_df.head()

In [ ]:
# Reorder the columns in the order you want them to appear.
new_column_order = ["School Type", "Total Students", "Total School Budget", "Per Student Budget", "Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

# Assign district summary df the new column order.
per_school_summary_df = per_school_summary_df[new_column_order]

per_school_summary_df.head()

In [ ]:
# Sort and show top five schools.
top_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=False)

top_schools.head()

In [ ]:
# Sort and show top five lowest performing schools.
bottom_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=True)

bottom_schools.head()

In [ ]:
#Finding scores for individal grades per school.
##this filters through the whole school_data_complete_df to finde which one is 9th grade 
ninth_grade = school_data_complete_df["grade"] == "9th"
ninth_grade

In [ ]:
#Creating a code that will count the cases that are true 
ninth_grade = school_data_complete_df[(school_data_complete_df["grade"] == "9th")]
ninth_grade

In [ ]:
#10th grade:
tenth_grade = school_data_complete_df[(school_data_complete_df["grade"] == "10th")]
tenth_grade

In [ ]:
#11th grade:
eleventh_grade = school_data_complete_df[(school_data_complete_df["grade"] == "11th")]
eleventh_grade

In [ ]:
#Twelfth 
twelfth_grade = school_data_complete_df[(school_data_complete_df["grade"] == "12th")]
twelfth_grade

In [ ]:
# Group each grade level DataFrame by the school name for the average math score. 
##Output will be a series. We have not created a DF yet. 
ninth_grade_math_scores = ninth_grade.groupby(["school_name"]).mean()["math_score"]
ninth_grade_math_scores

In [ ]:
tenth_grade_math_scores = tenth_grade.groupby(["school_name"]).mean()["math_score"]
tenth_grade_math_scores

In [ ]:
eleventh_grade_math_scores = eleventh_grade.groupby(["school_name"]).mean()["math_score"]
eleventh_grade_math_scores

In [ ]:
twelfth_grade_math_scores = twelfth_grade.groupby(["school_name"]).mean()["math_score"]
twelfth_grade_math_scores

In [ ]:
#Get the Average Reading Scores by School
# Group each grade level DataFrame by the school name for the average reading score.
ninth_grade_reading_scores = ninth_grade.groupby(["school_name"]).mean()["reading_score"]
ninth_grade_reading_scores

In [ ]:
tenth_grade_reading_scores = tenth_grade.groupby(["school_name"]).mean()["reading_score"]
tenth_grade_reading_scores

In [ ]:
eleventh_grade_reading_scores = eleventh_grade.groupby(["school_name"]).mean()["reading_score"]
eleventh_grade_reading_scores

In [ ]:
twelfth_grade_reading_scores = twelfth_grade.groupby(["school_name"]).mean()["reading_score"]
twelfth_grade_reading_scores

In [ ]:
# Combine each grade level Series for average math scores by school into a single DataFrame.
## to create a new DF need to create a new variable, then create a dicitonary with the keys (columns) 
## and values (as the variables we created to find the scores)
math_scores_by_grade = pd.DataFrame({
               "9th": ninth_grade_math_scores,
               "10th": tenth_grade_math_scores,
               "11th": eleventh_grade_math_scores,
               "12th": twelfth_grade_math_scores})

math_scores_by_grade.head()

In [ ]:
# Combine each grade level Series for average reading scores by school into a single DataFrame.
reading_scores_by_grade = pd.DataFrame({
              "9th": ninth_grade_reading_scores,
              "10th": tenth_grade_reading_scores,
              "11th": eleventh_grade_reading_scores,
              "12th": twelfth_grade_reading_scores})

reading_scores_by_grade.head()

In [ ]:
  # Format each grade column.
  math_scores_by_grade["9th"] = math_scores_by_grade["9th"].map("{:.1f}".format)

  math_scores_by_grade["10th"] = math_scores_by_grade["10th"].map("{:.1f}".format)

  math_scores_by_grade["11th"] = math_scores_by_grade["11th"].map("{:.1f}".format)

  math_scores_by_grade["12th"] = math_scores_by_grade["12th"].map("{:.1f}".format)

  # Make sure the columns are in the correct order.
  math_scores_by_grade = math_scores_by_grade[
                 ["9th", "10th", "11th", "12th"]]

  # Remove the index name.
  math_scores_by_grade.index.name = None
  # Display the DataFrame.
  math_scores_by_grade.head()

In [ ]:
 # Format each grade column.
reading_scores_by_grade["9th"] = reading_scores_by_grade["9th"].map("{:,.1f}".format)

reading_scores_by_grade["10th"] = reading_scores_by_grade["10th"].map("{:,.1f}".format)

reading_scores_by_grade["11th"] = reading_scores_by_grade["11th"].map("{:,.1f}".format)

reading_scores_by_grade["12th"] = reading_scores_by_grade["12th"].map("{:,.1f}".format)

  # Make sure the columns are in the correct order.
reading_scores_by_grade = reading_scores_by_grade[
                 ["9th", "10th", "11th", "12th"]]

  # Remove the index name.
reading_scores_by_grade.index.name = None
  # Display the data frame.
reading_scores_by_grade.head()

In [ ]:
# Get the descriptive statistics for the per_school_capita.
per_school_capita.describe()

In [ ]:
spending_bins = [0, 585, 615, 645, 675]

In [ ]:
# Cut the per_school_capita into the spending ranges.
spending_bins = [0, 585, 615, 645, 675]
pd.cut(per_school_capita, spending_bins)

In [ ]:
## grouping the schools by the spending bins. 
##to find out how many shcools are in those bins use count()

# Cut the per_school_capita into the spending ranges.
spending_bins = [0, 585, 615, 645, 675]
per_school_capita.groupby(pd.cut(per_school_capita, spending_bins)).count()

##output gives us the number of schools per each spending_bin

In [ ]:
## the first grouping was not fair, we needed to adjust the ranges
## to do this change the numbers in the list for spending_bins 
# Cut the per_school_capita into the spending ranges.
spending_bins = [0, 585, 630, 645, 675]
per_school_capita.groupby(pd.cut(per_school_capita, spending_bins)).count()

In [ ]:
# Establish the spending bins and group names.
##Creating a name for the spending_bins 
spending_bins = [0, 585, 630, 645, 675]
group_names = ["<$584", "$585-629", "$630-644", "$645-675"]

In [ ]:
# Categorize spending based on the bins.
## adding a new column in per_school_summary_df which will be assigned the spending bins from the per_school_capita
per_school_summary_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, spending_bins, labels=group_names)

per_school_summary_df

In [ ]:
# Calculate averages for the desired columns.
spending_math_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_math_scores

In [ ]:
spending_reading_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_reading_scores

In [ ]:
spending_passing_math = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_math

In [ ]:
spending_passing_reading = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
spending_passing_reading

In [ ]:
overall_passing_spending = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]
overall_passing_spending

###not getting the same average in the module Answer: 78.939001

In [ ]:
# Assemble into DataFrame.
spending_summary_df = pd.DataFrame({
          "Average Math Score" : spending_math_scores,
          "Average Reading Score": spending_reading_scores,
          "% Passing Math": spending_passing_math,
          "% Passing Reading": spending_passing_reading,
          "% Overall Passing": overall_passing_spending})

spending_summary_df

In [ ]:
#Formating into DF: 
##Average of math and reading: 1 decimanl
##Percent passing to nearest whole number
##overall passing percentage to nearest whole number 

spending_summary_df["Average Math Score"] = spending_summary_df["Average Math Score"].map("{:.1f}".format)
spending_summary_df["Average Reading Score"] = spending_summary_df["Average Reading Score"].map("{:.1f}".format)
spending_summary_df["% Passing Math"] = spending_summary_df["% Passing Math"].map("{:.0f}".format)
spending_summary_df["% Passing Reading"] = spending_summary_df["% Passing Reading"].map("{:.0f}".format)
spending_summary_df["% Overall Passing"] = spending_summary_df["% Overall Passing"].map("{:.0f}".format)

spending_summary_df

In [ ]:
# Establish the bins.
##create a variable and make a list of the what the bins will be [0, 1000, 2000, 5000]
size_bins = [0, 1000, 2000, 5000]
## create names for the groups: againg creating another variable and make a list of the names inside []
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

# Categorize spending based on the bins.
per_school_summary_df["School Size"] = pd.cut(per_school_summary_df["Total Students"], size_bins, labels=group_names)

per_school_summary_df.head()

In [ ]:
# Calculate averages for the desired columns.
## grouping by school size. 
## use the groupby () on "school size" finding the average for the following columns with the mean()
size_math_scores = per_school_summary_df.groupby(["School Size"]).mean()["Average Math Score"]

size_reading_scores = per_school_summary_df.groupby(["School Size"]).mean()["Average Reading Score"]

size_passing_math = per_school_summary_df.groupby(["School Size"]).mean()["% Passing Math"]

size_passing_reading = per_school_summary_df.groupby(["School Size"]).mean()["% Passing Reading"]

size_overall_passing = per_school_summary_df.groupby(["School Size"]).mean()["% Overall Passing"]

In [ ]:
##Create a size summary DF 
# Assemble into DataFrame.
size_summary_df = pd.DataFrame({
          "Average Math Score" : size_math_scores,
          "Average Reading Score": size_reading_scores,
          "% Passing Math": size_passing_math,
          "% Passing Reading": size_passing_reading,
          "% Overall Passing": size_overall_passing})

size_summary_df

In [ ]:
#Formatting the DF
##Math and Reading to one decimal
##percantage to nearest whole number
##overall passing number to whole number 

##remember to specify which column to the left of the = sign then reiterate that column and the function you are performing
size_summary_df["Average Math Score"] = size_summary_df["Average Math Score"].map("{:.1f}".format)

size_summary_df["Average Reading Score"] = size_summary_df["Average Reading Score"].map("{:.1f}".format)

size_summary_df["% Passing Math"] = size_summary_df["% Passing Math"].map("{:.0f}".format)

size_summary_df["% Passing Reading"] = size_summary_df["% Passing Reading"].map("{:.0f}".format)

size_summary_df["% Overall Passing"] = size_summary_df["% Overall Passing"].map("{:.0f}".format)

size_summary_df

In [ ]:
##Grouping by school type 

# Calculate averages for the desired columns.
type_math_scores = per_school_summary_df.groupby(["School Type"]).mean()["Average Math Score"]

type_reading_scores = per_school_summary_df.groupby(["School Type"]).mean()["Average Reading Score"]

type_passing_math = per_school_summary_df.groupby(["School Type"]).mean()["% Passing Math"]

type_passing_reading = per_school_summary_df.groupby(["School Type"]).mean()["% Passing Reading"]

type_overall_passing = per_school_summary_df.groupby(["School Type"]).mean()["% Overall Passing"]

In [ ]:
# Assemble into DataFrame.
type_summary_df = pd.DataFrame({
          "Average Math Score" : type_math_scores,
          "Average Reading Score": type_reading_scores,
          "% Passing Math": type_passing_math,
          "% Passing Reading": type_passing_reading,
          "% Overall Passing": type_overall_passing})

type_summary_df

In [ ]:
##Formatting the columns

type_summary_df["Average Math Score"] = type_summary_df["Average Math Score"].map("{:.1f}".format)

type_summary_df["Average Reading Score"] = type_summary_df["Average Reading Score"].map("{:.1f}".format)

type_summary_df["% Passing Math"] = type_summary_df["% Passing Math"].map("{:.0f}".format)

type_summary_df["% Passing Reading"] = type_summary_df["% Passing Reading"].map("{:.0f}".format)

type_summary_df["% Overall Passing"] = type_summary_df["% Overall Passing"].map("{:.0f}".format)

type_summary_df